@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width:480px) 
{
    section
    {
        height: 100%;
    }
    #section5
    {
        
    }
    #section4 p {
        font-size: 0.9em;
    }
    .texto p, #conteudoP p {
        font-size: .9em;
        padding: 15px;
        text-indent: 1.45em;
    }
.slider-box .texto{display: none;}
.imgAlter{display: block;
    text-align: center;
}
.nav-manual-tec, .nav-auto-tec {
    position: absolute;
    width: 24%;
    margin-top: 52vh;
    display: flex;
    justify-content: center;
    height: 25px;
}
.imgAlter img {
    margin: auto;
    width: 60vw;
    height: 35vh;
}

    #img1
    {}
    #img1
    {}
    #img1
    {}
    #radio-p2:checked ~ .primeiro-p {
        margin-left: -88vw;
    }
    #radio-p3:checked ~ .primeiro-p {
        margin-left: -179vw;
    }
    #radio-p4:checked ~ .primeiro-p {
        margin-left: -272vw;
    }
    #radio-p5:checked ~ .primeiro-p {
        margin-left: -359vw;
    }
    #radio-p6:checked ~ .primeiro-p {
        margin-left: -451vw;
    }
    .slider-box-p img {
        margin: auto;
        width: 60vw;
        height: 35vh;
        margin: 0 15vw;
        height: 50vw;
    }

    #radio-tec4:checked ~ .primeiro-tec {
        margin-left: -73%;
    }
    #radio-tec5:checked ~ .primeiro-tec {
        margin-left: -98%;
    }

#radio-tec6:checked ~ .primeiro-tec {
    margin-left: -122%;
}
.slider-box:hover ~.texto{display: flex;}
.titulos p {
    background-color: var(--cor1);
    color: var(--cor5);
    margin: auto;
    font-size: 1.4em;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    padding: 9px;
    width: 35px;
    display: flex;
    height: 35px;
}
.texto p, #conteudoP p {
    padding: 15px;
    text-indent: 1.5em;
}
    .slider-box .slider-item, .slider-box-tec .slider-item {
        display: block;
        margin: 10px;
        width: 85vw;
        height: 300px;
    }
    #radio2:checked ~ .primeiro {
        margin-left: -24%;
    }
    #radio4:checked ~ .primeiro {
        margin-left: -72%;
    }
    #radio3:checked ~ .primeiro {
        margin-left: -48%;
    }
    .titulos h3 {
        width: 82vw;}
}
@media screen and (min-width: 550px) 
{
.slider-box .slider-item, .slider-box-p img, .slider-box-tec .slider-item {
    display: block;
    margin: 1vw;
    width: 94.5vw;
    height: 300px;
}.nav-manual-p, .nav-auto-p {
    position: absolute;
    width: 25%;
    margin-top: 58vh;
    display: flex;
    justify-content: center;
}
#figc2 {
    height: auto;
}
}
@media screen and (min-width: 600px) 
{
.slider-box .slider-item, .slider-box-p img, .slider-box-tec .slider-item {
    display: block;
    margin: 1vw;
    width: 94.5vw;
    height: 300px;
}
.nav-manual, .nav-auto {
    position: absolute;
    width: 25%;
    margin-top: 52vh;
    display: flex;
    justify-content: center;
}
.nav-manual-p, .nav-auto-p {
    position: absolute;
    width: 25%;
    margin-top: 59vh;
    display: flex;
    justify-content: center;
}
#figc2 {
    height: auto;
}
}
@media screen and (min-width: 750px) 
{
    .slider-box .slider-item, .slider-box-p img, .slider-box-tec .slider-item {
        width: 95.5vw;
    }
    .nav-manual-tec, .nav-auto-tec {
        position: absolute;
        width: 24%;
        margin-top: 14%;
        display: flex;
        justify-content: center;
        height: 25px;
    }
}
@media screen and (min-width: 1000px) 
{
    .headline {
        color: var(--cor2);
        justify-content: center;
        display: flex;
        height: 100%;
        width: 75vw;
        justify-content: center;
        margin-left: -4vw;
        flex-direction: column;
        background-color: var(--cor3);
        text-align: center;
    }
    section
    {
        align-items: center;
        width:60vw;
       margin: 25vw; 
    }
    .slider-box .slider-item, .slider-box-p , .slider-box-tec .slider-item {
        width: 45vw;
        margin-right: 28vw;
    }  
    .slider-box-p img
    {
        width: 45vw;
    }
    #radio2:checked ~ .primeiro {
        margin-left: -30%;
    }
    #radio3:checked ~ .primeiro {
        margin-left: -61%;
    }
    #radio4:checked ~ .primeiro {
        margin-left: -91%;
    }
    .nav-manual, .nav-auto {
        position: absolute;
        width: 21%;
        margin-top: 57vh;
        display: flex;
        justify-content: center;
    }
    .nav-manual, .nav-auto {
        position: absolute;
        width: 21%;
        margin-top: 57vh;
        display: flex;
        justify-content: center;
    }
    #section6 {
        margin-left: 16vw;
        padding-top: 60px;
        align-items: center;
    }
    #radio-tec1:checked ~ .primeiro-tec{
        margin-left: 0%;
    }
    #radio-tec2:checked ~ .primeiro-tec
    {
        margin-left: -30%;
    }#radio-tec3:checked ~ .primeiro-tec
    {
        margin-left: -61%;
    }#radio-tec4:checked ~ .primeiro-tec
    {
        margin-left: -91%;
    }
    #radio-tec5:checked ~ .primeiro-tec
    {
        margin-left: -121%;
    }#radio-tec6:checked ~ .primeiro-tec
    {
        margin-left: -154%;
    }
    #radio-p1:checked ~ .primeiro-p{
        margin-left: 0%;
    }
    #radio-p2:checked ~ .primeiro-p
    {
        margin-left: -30%;
    }#radio-p3:checked ~ .primeiro-p
    {
        margin-left: -61%;
    }#radio-p4:checked ~ .primeiro-p
    {
        margin-left: -91%;
    }
    #radio-p5:checked ~ .primeiro-p
    {
        margin-left: -121%;
    }#radio-p6:checked ~ .primeiro-p
    {
        margin-left: -154%;
    }
}
@media only screen and ( min-width: 742px){
    #burguer{
        display: none;
    }
    #itens{
        display: block;
    }
    nav{
        width: 100vw;
        height: auto;
        overflow-y: unset;
        flex-basis: unset;
    }
    nav ul li{
        display: inline-block;
        border-bottom: none;
    }
    nav a{
        padding: 8px 12px;
    }

}