div.slider
{
    height: 100%;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 40px;
}
.slider-content {
    padding: 5px;
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input
{
    display: none;
}
.blocos
{
    display: block;
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}
.nav-manual, .nav-auto {
    position: absolute;
    width: 20%;
    margin-top: 50vh;
    display: flex;
    justify-content: center;
}
.nav-manual-p .manual-btn-p, .nav-auto-p div,
.nav-manual .manual-btn, .nav-auto div, .nav-manual-tec .manual-btn-tec, .nav-auto-tec div
{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ;
}
.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child), 
.nav-manual-p .manual-btn-p:not(:last-child), 
.nav-auto-p div:not(:last-child),
.nav-auto-tec div:not(:last-child),
.nav-manual-tec .manual-btn-tec:not(:last-child)
{
    margin-right: 10px;
}
.manual-btn:hover, .manual-btn-p:hover, .manual-btn-tec:hover
{
    background-color: black;
}
#radio1:checked ~.nav-auto .auto-btn1, #radio2:checked ~.nav-auto .auto-btn2, #radio3:checked ~.nav-auto .auto-btn3, #radio4:checked ~.nav-auto .auto-btn4
{
    background-color: black;
}
#radio-p1:checked ~ .primeiro-p
#radio-p1:checked ~.auto-btn-p1, #radio-p2:checked ~.nav-auto-p .auto-btn-p2, #radio-p3:checked ~.nav-auto-p .auto-btn-p3, #radio-p4:checked ~.nav-auto-p .auto-btn-p4
{
    background-color: black;
}
.slider-box .slider-item, .slider-box-p img, .slider-box-tec .slider-item {
    display: block;
    margin: 10px;
    width: 65vw;
    height: 300px;
}
.segundo, .terceiro, .quarto, .quinto , .sexto
{
    margin: 0 25vw;
}
.div .segundo,.div .terceiro,.div .quarto,.div .quinto ,.div .sexto
{
    width: 42vw;
    margin-left: 51vw;
}
.tec .segundo, .tec .terceiro,.tec .quarto,.tec .quinto ,.tec .sexto
{
    margin-left: 26vw;
}
.slider-box-p img
{
width: 50vw;
    height: 263px;
}
.slider-box-probl{
    display: block;
    margin: 0;
    width: 480px;
    height: 0;
}
#radio1:checked ~ .primeiro{
    margin-left: -4%;
}
#radio2:checked ~ .primeiro {
    margin-left: -43%;
}
#radio3:checked ~ .primeiro {
    margin-left: -90%;
}
#radio4:checked ~ .primeiro {
    margin-left: -140%;
}

#radio-p1:checked ~ .primeiro-p
{
    margin-left: 0%;
}
#radio-p2:checked ~ .primeiro-p
{
    margin-left: -40%;
}#radio-p3:checked ~ .primeiro-p
{
    margin-left: -82%;
}#radio-p4:checked ~ .primeiro-p
{
    margin-left: -124%;
}
#radio-p5:checked ~ .primeiro-p
{
    margin-left: -186%;
}#radio-p6:checked ~ .primeiro-p
{
    margin-left: -226%;
}
.nav-manual-p, .nav-auto-p {
    position: absolute;
    width: 25%;
    margin-top: 58vh;
    display: flex;
    justify-content: center;
}
#radio-tec1:checked ~ .primeiro-tec{
    margin-left: -3%;
}
#radio-tec2:checked ~ .primeiro-tec
{
    margin-left: -41%;
}#radio-tec3:checked ~ .primeiro-tec
{
    margin-left: -83%;
}#radio-tec4:checked ~ .primeiro-tec
{
    margin-left: -126%;
}
#radio-tec5:checked ~ .primeiro-tec
{
    margin-left: -181%;
}#radio-tec6:checked ~ .primeiro-tec
{
    margin-left: -223%;
}
.nav-manual-tec, .nav-auto-tec {
    position: absolute;
    width: 24%;
    margin-top: 33vh;
    display: flex;
    justify-content: center;
    height: 25px;
}
#radio-tec1:checked ~.nav-auto-tec .auto-btn1-tec,
#radio-tec2:checked ~.nav-auto-tec .auto-btn2-tec, 
#radio-tec3:checked ~.nav-auto-tec .auto-btn3-tec, 
#radio-tec4:checked ~.nav-auto-tec .auto-btn4-tec, 
#radio-tec5:checked ~.nav-auto-tec .auto-btn5-tec, 
#radio-tec6:checked ~.nav-auto-tec .auto-btn6-tec
{
    background-color: black;
}
/*
.nav-manual2, .nav-auto2 {
    position: absolute;
    width: 25%;
    margin-top: 60%;
    display: flex;
    justify-content: center;
}*/